body {
    margin: 0;
    font-family: "Trebuchet MS";
  background-color: #73E2A7;
}

header {
    background-color: #DEF4C6;
    color: #1B512D;
    padding: 5px;
    text-align: center;
}

nav {
    padding: 6px;
    background-color: #1B512D;
}

nav a {
    color: #DEF4C6;
    text-decoration: none;
    padding: 6px;
}

nav a:hover {
    background-color: #DEF4C6;
    color: #1B512D; 
}

div {
    padding: 3px;
    margin: 0;
    height: 500px;
    background-color: #73E2A7;
    text-align: center;
    position: relative;
}



#tekst {
    color: black;
    font-size: 20px;
    animation-name: promenaBoje;
    animation-duration: 5s;
}

@keyframes promenaBoje {
    from {color: black; }
    to { color: white; }
}

#tekstPrimer2 {
    color: black;
    font-size: 20px;
    animation-name: promenaBoje2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes promenaBoje2 {
    0% {color: black; }
    20% { color: white; }
    40% { color: red; }
    60% { color: blue; }
    80% { color: grey; }
}

#baloni {
    width: 150px;
    height: 300px;
    animation-name: baloni;
    animation-duration: 6s;
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes baloni {
    from {bottom: 0%;}
    to {bottom: 50%;}
}

#slika {
    animation-name: povecaj;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes povecaj {
    from {width: 360px;}
    to {width: 40px;}
}

@keyframes menjaj {
    0% {border-color: black;}
    20% {border-color: red;}
    40% {border-color: blue;}
    60% {border-color: yellow;}
    80% {border-color: white;}
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 270px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
